@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51.4 43.8% 93.7%;
    --foreground: 37.5 15.7% 20%;

    --card: 51.4 43.8% 93.7%;
    --card-foreground: 37.5 15.7% 20%;

    --popover: 49.7 35.8% 84.1%;
    --popover-foreground: 37.5 15.7% 20%;

    --primary: 37.5 15.7% 20%;
    --primary-foreground: 51.4 43.8% 93.7%;

    --secondary: 130.9 20% 78.4%;
    --secondary-foreground: 37.5 15.7% 20%;

    --muted: 49.7 35.8% 84.1%;
    --muted-foreground: 37.5 15.7% 36%;

    --accent: 38.9 30.8% 63.7%;
    --accent-foreground: 37.5 15.7% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 51.4 43.8% 93.7%;

    --border: 49.7 35.8% 84.1%;
    --input: 49.7 35.8% 84.1%;
    --ring: 38.9 30.8% 63.7%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 37.5 15.7% 20%;
    --foreground: 51.4 43.8% 93.7%;

    --card: 37.5 15.7% 20%;
    --card-foreground: 51.4 43.8% 93.7%;

    --popover: 37.5 15.7% 20%;
    --popover-foreground: 51.4 43.8% 93.7%;

    --primary: 130.9 20% 78.4%;
    --primary-foreground: 37.5 15.7% 20%;

    --secondary: 49.7 35.8% 84.1%;
    --secondary-foreground: 37.5 15.7% 20%;

    --muted: 37.5 15.7% 32%;
    --muted-foreground: 51.4 43.8% 93.7%;

    --accent: 38.9 30.8% 63.7%;
    --accent-foreground: 37.5 15.7% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 51.4 43.8% 93.7%;

    --border: 37.5 15.7% 32%;
    --input: 37.5 15.7% 32%;
    --ring: 130.9 20% 78.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
